body {
    font: 14px 'Vollkorn', Georgia, Times, serif;
    background-color: #F0F0F0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.presentation {
    position: absolute;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

div.slides, body.expose div.slides.nocontext {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
}

div.slides.nocontext {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    left: auto;
    top: auto;
}

div.slide {
    display: inline;
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 700px;
    margin-top: -350px;
    margin-left: -400px;
    left: 50%;
    top: 50%;
    -webkit-transition: margin 0.25s ease-in-out;
    -moz-transition: margin 0.25s ease-in-out;
    -o-transition: margin 0.25s ease-in-out;
}

/* Expose */

body.expose div.slides {
    float: left;
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
}

body.expose div.slide {
    display: block;
    float: left;
    position: relative;
    left: auto !important;
    top: auto !important;
    margin: 10px !important;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -moz-transform: scale(.33, .33);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(.33, .33);
    -webkit-transform-origin: 0 0;
    -o-transform: scale(.33, .33);
    -o-transform-origin: 0 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    cursor: pointer;
}

body.expose div.slide:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#bdd), to(#fff));
    background-color: #eee;
    background: -moz-linear-gradient(bottom, #bdd, #fff);
}

body.expose .slide-wrapper {
    float: left;
    position: relative;
    margin: .5%;
    width: 300px;
    height: 233px;
}

body.expose .slide.far-past,
body.expose .slide.past,
body.expose .slide.future,
body.expose .slide.far-future {
    margin-left: 0;
}

body.expose .slide.current {
    background: -webkit-gradient(linear, left bottom, left top, from(#ddb), to(#fff));
    background-color: #eee;
    background: -moz-linear-gradient(bottom, #ddb, #fff);
    border: 16px solid #fff;
    -moz-transform: scale(.315, .315);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(.315, .315);
    -webkit-transform-origin: 0 0;
    -o-transform: scale(.315, .315);
    -o-transform-origin: 0 0;
}

/* Presenter Mode */
body.presenter_view div.slide {
    display: inline;
    position: absolute;
    overflow: hidden;
    -moz-transform: scale(.5, .5);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(.5, .5);
    -webkit-transform-origin: 0 0;
    -o-transform: scale(.5, .5);
    -o-transform-origin: 0 0;
    margin-top: -300px;
}

body.presenter_view .slide.far-past {
    display: block;
    argin-left: -1500px;
}

body.presenter_view .slide.past {
    display: block;
    margin-left: -975px;
}

body.presenter_view .slide.current {
    display: block;
    margin-left: -475px;
    border: 8px solid #666;
    z-index: 2;
}

body.presenter_view .slide.future {
    display: block;
    margin-left: 25px;
    z-index: 1;
}

body.presenter_view .slide.far-future {
    display: block;
    margin-left: 525px;
}

body.presenter_view div#current_presenter_notes {
    visibility: visible;
    display: block;
    position: absolute;
    overflow: auto;
    vertical-align: middle;
    left: 50%;
    top: 50%;
    margin-left: -475px;
    margin-top: 100px;
    z-index: 2;
    width: 950px;
    border-style: solid;
    height: 30%;
    background-color: silver;
}

body.presenter_view div#current_presenter_notes section {
    color: black;
    display: block;
    overflow: visible;
    position: relative;
    background-color: #fffeff;
    height: 120px;
    margin-right: 30px;
    margin-top: 60px;
    margin-left: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

body.presenter_view div#current_presenter_notes section p {
    margin: 0;
}

body.presenter_view div#current_presenter_notes h1 {
    font-size: 50%;
    display: block;
}

div#current_presenter_notes {
    display: none;
}

div.slide div.presenter_notes, div.slides div.presenter_notes {
    display: none;
}

/* Slide styles */

div.slide p {
    font-size: 20px;
}

.slide.far-past {
    display: block;
    margin-left: -2400px;
}

.slide.past {
    display: block;
    margin-left: -1400px;
}

.slide.current {
    display: block;
    margin-left: -450px;
}

.slide.future {
    display: block;
    margin-left: 500px;
}

.slide.far-future {
    display: block;
    margin-left: 1500px;
}

body.three-d div.slides {
    -webkit-transform: translateX(50px) scale(0.8) rotateY(10deg);
    -moz-transform: translateX(50px) scale(0.8) rotateY(10deg);
    -o-transform: translateX(50px) scale(0.8) rotateY(10deg);
}


/* Content */

header:not(:only-child) {
    font-weight: normal;
    font-size: 50px;
    letter-spacing: -.05em;
    color: black;
    position: absolute;
    left: 30px;
    top: 25px;
    margin: 0;
    padding: 0;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    color: #51C9EF;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

header h2:first-child {
    margin-top: 0;
}

section, .slide header:only-child h1 {
    color: #3f3f3f;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    display: block;
    overflow: hidden;
}

img { display: block; margin: 0 auto; }

section img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section img.align-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

section img.align-left {
    display: block;
    margin-right: auto;
    margin-left: 0;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    line-height: 110%;
    border-bottom: 2px solid #3f3f3f;
}

pre, code, tt {
    font-family: Monaco, Consolas, 'Bitstream Vera Sans Mono', 'Lucida Console', FreeMono, Courier, monospace;
    background-color: #333;
}

pre, .gist .gist-file .gist-data {
    font-size: 18px;
    max-height: 485px;
    padding: 0.50rem 0.25rem;
    overflow: auto;
}

/* render a nice scrollbar in overflowed pre area's */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left bottom, left top, from(#777), to(#bbd));
    -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
    background: #dedede;
}

blockquote {
    border-left: solid 8px #778;
    padding: .1ex 1ex;
    font-style: italic;
}

li {
    padding: 10px 0;
    font-size: 20px;
}

li pre { margin-left: 0em; }

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 5px;
}

.slide header:only-child h1 {
    line-height: 180%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 700px;
    width: 900px;
    font-size: 50px;
    margin-top:100px;
    margin-bottom:100px;
}

.sidebar {
    clear: both;
    background: -webkit-gradient(linear, top right, bottom right, from(#dde), to(#fff));
    -webkit-transition: margin 0.25s ease-in-out;
    background-color: #eee;
    background: -moz-linear-gradient(right, #dde, #fff);
    border-right: 5px solid #ccd;
    z-index: 9999999;
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
    display: block;
    margin: 0;
    margin-left: -400px;
    padding: 10px 16px;
    overflow: auto;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in-out;
}

.sidebar h2 {
    text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
    margin: 0 0 16px;
    padding: 0;
}

.sidebar table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.sidebar table caption {
    display: none;
}

.sidebar tr {
    margin: 2px 0;
    border-bottom: 1px solid #ccc;
}

.sidebar th {
    text-align: left;
    font-weight: normal;
    max-width: 300px;
    overflow: hidden;
}

.sidebar tr.sub th {
    text-indent: 20px;
}

.sidebar td {
    text-align: right;
    min-width: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    border-bottom: none;
    padding: 4px 0;
}

.sidebar tr.active {
    background: #ff0;
}

aside {
    display: none;
}

aside.source {
    position: absolute;
    bottom: 6px;
    left: 10px;
    text-indent: 10px;
}

aside.page_number {
    position: absolute;
    bottom: 6px;
    right: 10px;
    text-indent: 10px;
}

.notes {
    display: none;
    padding: 10px;
    background: #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
  div.slide p.notes {
    font-size: 90%;
}

.text-center {
    text-align: center;
}

.hll { background-color: #49483e }
.codehilitetable { width: 100% }
.codehilitetable td { padding: 0; white-space: nowrap }
.codehilitetable  { background: #272822; color: #f8f8f2; }
.linenos  { color: #666; border-right: solid 1px #444; width: 15px;  }
.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */

#blank {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 64;
    display: none;
}
